---
Language: C

AlignAfterOpenBracket: BlockIndent

AlignArrayOfStructures: Right

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  AlignFunctionPointers: true
  PadOperators: true

AlignConsecutiveBitFields: AcrossEmptyLinesAndComments

AlignConsecutiveDeclarations:
  Enabled: true
  AlignFunctionDeclarations: true
  AlignFunctionPointers: true


AlignConsecutiveMacros: Consecutive

AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false

AlignEscapedNewlines: LeftWithLastLine

AlignOperands: AlignAfterOperator

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true

AllowShortEnumsOnASingleLine: true

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse

AllowShortLoopsOnASingleLine: true

AlwaysBreakBeforeMultilineStrings: true

BinPackArguments: true
BinPackParameters: true

BinPackLongBracedList: true

Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true


BitFieldColonSpacing: Both
IndentWidth: 4
BraceWrapping:
  AfterFunction: true
  BeforeWhile: false

BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 120

BreakBeforeBraces: Linux
UseTab: ForContinuationAndIndentation
TabWidth: 4

EnumTrailingComma: Remove

PointerAlignment: Right

# line wrapping

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
    - Regex: '^<.*'
      Priority: 1
    - Regex: '^".*'
      Priority: 2

InsertBraces: true
InsertNewlineAtEOF: true

MaxEmptyLinesToKeep: 2
RemoveEmptyLinesInUnwrappedLines: true

NumericLiteralCase:
  HexDigit: Upper
  Prefix: Lower
  Suffix: Upper

QualifierAlignment: Left

RemoveParentheses: ReturnStatement
RemoveSemicolon: true

SeparateDefinitionBlocks : Always

SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceBeforeSquareBrackets: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1

